<!doctype html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport'
          content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Articles</title>
</head>
<body>
<form action='http://localhost:4444/auth/register' method='POST'>
    <label>Name
        <input type='text' name='name' placeholder='Enter your name' required>
    </label>
    <label>Email
        <input type='text' name='email' placeholder='Enter your email' required>
    </label>
    <label>Password
        <input type='password' name='password' placeholder='Enter your password' required>
    </label>
    <button type='submit'>Register</button>
</form>
</body>
</html>